.box2 {
    width: 370px;
    height: 95%;
    /* border: 1px solid white; */
    border-radius: 5px;
    overflow: hidden;
    background-color: #24292c;
    overflow-y: scroll;

}

.movieDetail {
    width: 100%;
    height: 150px;
    /* border: 1px solid white; */
    display: flex;
}

.bigPoster {
    width: 30%;
    height: 100%;
    /* border: 1px solid white; */
}

.bigPoster img {
    width: 100%;
    height: 100%;
}

.bigData {
    width: 70%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 0.85rem;
    background-color: #293335;

}

.bigData p {
    margin: 0;
    padding: 0;
}

.bigDataTitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.detailDescription {
    height: 350px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: white;

}

.multiplestar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ratingNumber{
    margin-left: 5px;
}

.movieDescription {
    width: 90%;
    text-align: center;
    padding-inline: 10px;
    color: white;
}